@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


.work-sans-font {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f4fa;
  color: #333;
 
}
.noto-serif {
  font-family: 'Noto Serif', serif;
}
 


/* shared item */
.btn-primary{
    background-color: #e85b00;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    transition: transform 0.3s;

}
.common-color{
  color: #e85b00;
}

.btn-primary:hover {
  transform: scale(1.02);
}



.primary-text-color{
    color: #555;
}

/* ____Navbar___Style____ */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f2f4fa;
}

.logo img{
    height: 60px;
    border-radius:8px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;

}


.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;

}
.cart{
    list-style: none;
   
}

.cart a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}
.cart a:hover{
    color: #e85b00;
}

.nav-links li a:hover{
    color: #e85b00;
}




/* hero-section style is here =========== ======  ======= */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}

.hero-text{
    max-width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    margin: 0;
    line-height: 1.2;

}

.bold{
    font-weight: bold;
}

.orange{
    color: #e85b00;
    font-weight: bold;

}

.hero-text p {
  margin-top: 20px;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}
.hero-img img {
  max-width: 500px;
  width: 100%;}




/* main section   ----====----   main section   ---==== */


/* plant section */

.our-plants{
  background-color: #f1f5f9;
  padding: 60px 20px;
  text-align: center;
  margin: 5px 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}


 
.our-plants h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
}
 .our-plants .highlight{
    color: #e85b00;

 }
 .our-plants .description{
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px;
 }
 .plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 26px;                              
  padding: 20px;                          
  margin-top: 30px;
  border-radius: 10px;
}
.plant-card {
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

 

 .plant-card img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
 }
.price{
    font-size: 1.5rem;
    font-weight: bold;
}

/* section 2 */


.flower-container{
    display: flex;
    
    align-items: flex-start;
    gap: 110px;
    padding: 40px 20px;
    margin: 0px auto;
    max-width: 1200px;
    
}
.image-section{
    position: relative;
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}
.text-section{
    flex: 1;
    padding-left: 0px;
    margin-top: 20px;
}
.main-img{
    width: 100%;
    height: auto;
    display: block;
    border: 10px;
}
.badge{
    position: absolute;
    top: -80px;
    right: -80px;
    width: 190px;
    height: 190px;
}

.lovers-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    
}
.badge-title , .lovers-content{
    margin-left: 90px;
}
.main-img{
    border-radius: 10px;
    margin-left: 15px;
}

.badge-title{
    font-size: 2rem;
}




/* deals section */
.deals-parent{
    text-align: center;
}
.deals-title{
    font-size: 1.7rem;
}




/* image  sction */

/* 
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
} */




.wrapper {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.left-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-image {
  flex: 2;
  position: relative;
  height: 100%;
}

.image-box {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.image-box img,
.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.right-image {
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
  
}

.overlay p {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.overlay h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.overlay a {
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 8px 14px;
  font-weight: bold;
  border-radius: 5px;
}


.offer{
    font-size: 1.25rem;
}




.offer-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  color: white;
 
}

.offer-line p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.offer-line h2 {
  font-size: 1rem;
  margin: 0;
}

.divider {
  width: 2px;
  height: 20px;
  background-color: white;
}

/* new section */

.newsletter-section .img-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(80px);
}

.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    width: 100%;
   
}
.overlay-content form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-right: 20px;
}
.overlay-content input[type="email"] {
  padding: 10px 10px 10px 5px;
  width: 60%;
  min-width: 200px;
  border: none;
  border-radius: 4px 0 0 4px;
 
}



.overlay-content button {
  padding: 10px 40px;
  border: none;
  background-color: #e85b00;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.7s ease;
  font-size: 1rem;font-weight: 1rem;
}
.overlay-content button:hover{
    background-color:  #45a049;
}
.img-wrapper{
    margin-left: 35px;

}
.ovr-title{
    font-size: 2rem;
    font-weight: bold;
}

.img-style-bg{
    border-radius: 8px;
}


/* footer section
 */


.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f8f8f8;
  padding: 40px 80px;
  gap: 40px;
}

.footer-left{
  max-width: 250px;

}
.footer-left .logo{
  width: 120px;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.6;
}

.footer-links{
  display: flex;
  gap: 80px;
}

.footer-links ul{
  list-style: none;
  padding: 0;
}

.footer-links li{
  margin-bottom: 10px;

}

.footer-links a{
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.footer-links a:hover{
  color: #f25c05;
}

.footer-social{
  display: flex;
  gap: 15px;
  align-items: center;

}

.footer-social a img {
  width: 28px;
  height: 28px;
}

















  /* ====Responsive media query for small devices is here=== */

  /* hero section */

  @media screen and (max-width:768px) {
    .navbar{
        justify-content: space-between;
    
    }

    .logo img {
  max-height: 60px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.hero{
    flex-direction: column-reverse;
    padding: 30px 20px;
    text-align: center;
}
.hero-text{
    max-width: 100%;

}
.hero-img img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.nav-links{
   display: none;
}
.cart{
font-size: 20px;
display: block;
transition: color 0.3s;
}
.cart a:hover{
    color: #e85b00;
}

.our-plants{
    margin: 5px 0px;
}
.plant-grid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px 10px 10px 2px;

}
.btn-primary{
  font-size: 0.6rem;
  padding: 8px 5px 8px 5px;
}
.plant-card-title{
  font-size: 1rem;
}
.price{
  font-size: 1.2rem;
}
.plant-card{
    margin: 0;
}
  /* section 2 is herer */


  .flower-container{
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 30px;
    padding: 20px;
  }

  .image-section{
    width: 100%;
    /* max-width: 350px; */
    margin-left: 0;
    margin-right: 30px;

  }
  .badge{
    display: none;
  }
  .text-section{
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    text-align: center;

  }

  .badge-title, .lovers-content{
    margin-left: 0;
    text-align: center;
  }

  .lovers-content{
    padding-left: 0;
  }





  .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 5px;
    margin-right: 5px;


  }

  .image-box, .right-image{
    width: 100%;
  }





  /* 
  other image is here */
  

   
.newsletter-section .img-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(80px);
}

.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    width: 100%;
   
}
.overlay-content form {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: nowrap;
    margin-right: 8px;
}
.overlay-content input[type="email"] {
  padding: 5px 5px 5px 2px;
  width: 50%;
  min-width: 150px;
  border: none;
  border-radius: 4px 0 0 4px;
 
}



.overlay-content button {
  padding: 5px 15px;
  border: none;
  background-color: #e85b00;
  color: white;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  transition: background-color 0.7s ease;
  font-size: 1rem;font-weight: 1rem;
}
.overlay-content button:hover{
    background-color:  #45a049;
}
.img-wrapper{
    margin-left: 10px;

}
.ovr-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.img-style-bg{
    border-radius: 10px;
    width: 100%;
    height: auto;

}

.newsletter-section{
    margin: 2px 20px 2px 2px;
}





/* footer-section */
 
.footer{
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;

}

.footer-links{
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.footer-social{
  margin-top: 20px;
}


  }