@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


.work-sans-font {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f4fa;
  color: #333;
 
}
.noto-serif {
  font-family: 'Noto Serif', serif;
}
 


/* shared item */
.btn-primary{
    background-color: #e85b00;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    transition: transform 0.3s;

}

.btn-primary:hover {
  transform: scale(1.02);
}



.primary-text-color{
    color: #555;
}

/* ____Navbar___Style____ */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f2f4fa;
}

.logo img{
    height: 60px;
    border-radius:8px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;

}


.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;

}
.cart{
    list-style: none;
   
}

.cart a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}
.cart a:hover{
    color: #e85b00;
}

.nav-links li a:hover{
    color: #e85b00;
}




/* hero-section style is here =========== ======  ======= */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}

.hero-text{
    max-width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    margin: 0;
    line-height: 1.2;

}

.bold{
    font-weight: bold;
}

.orange{
    color: #e85b00;
    font-weight: bold;

}

.hero-text p {
  margin-top: 20px;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}
.hero-img img {
  max-width: 500px;
  width: 100%;}




/* main section   ----====----   main section   ---==== */


/* plant section */

.our-plants{
  background-color: #f1f5f9;
  padding: 60px 20px;
  text-align: center;
  margin: 5px 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}


 
.our-plants h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
}
 .our-plants .highlight{
    color: #e85b00;

 }
 .our-plants .description{
    color: #555;
    max-width: 700px;
    margin: 0 auto 40px;
 }
 .plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 26px;                              
  padding: 20px;                          
  margin-top: 30px;
  border-radius: 10px;
}
.plant-card {
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

 

 .plant-card img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
 }
.price{
    font-size: 1.5rem;
    font-weight: bold;
}















































  /* ====Responsive media query for small devices is here=== */

  /* hero section */

  @media screen and (max-width:768px) {
    .navbar{
        justify-content: space-between;
    
    }

    .logo img {
  max-height: 60px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.hero{
    flex-direction: column-reverse;
    padding: 30px 20px;
    text-align: center;
}
.hero-text{
    max-width: 100%;

}
.hero-img img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.nav-links{
   display: none;
}
.cart{
font-size: 20px;
display: block;
transition: color 0.3s;
}
.cart a:hover{
    color: #e85b00;
}

.our-plants{
    margin: 5px 0px;
}
.plant-grid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;

}
.plant-card{
    margin: 0;
}


  }